{% extends "base.html" %}
{% block app_content %}
{% if content!=[''] and content!=None %}
<div class="container">
    {% for item in range(len) %}
    {% include "_basket_item.html" %}
    {% endfor %}
</div>
<div style="margin-left:30px;font-size:30px;">ИТОГО: {{total}}</div>
<div style="margin-left:30px; margin-bottom:35px;" align="right"><a class="btn btn-lg btn-light" href="{{url_for('clear_basket')}}">Очистить
    корзину</a></div>
<div style="margin-left:30px;"><a class="btn btn-lg btn-light" href="{{url_for('order')}}">Оформить заказ</a></div>
{% else %}
<h1>Корзина пуста</h1>
<p><a class="btn btn-lg btn-light" href="{{url_for('menu')}}">Выбрать блюдо</a></p>
{% endif %}
{% endblock %}