{% extends "base.html" %}

{% block app_content %}
<h1>Отзывы</h1>
<form action="" method="post">
        <p> {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
            {% endfor %}
        </p>
        <p>
        {{ form.text_reviews.label }}<br>
        {{ form.text_reviews(class="form-control") }}<br>
        {% for error in form.text_reviews.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
        </p>
        <p>
        {{ form.time.label }}<br>
        {{ form.time(class="form-control") }}<br>
        {% for error in form.time.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}